<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Знакомство с html тегами.(Формы)</title>
        <link rel="stylesheet" href="/src/components/lesson-5/style.css"/>
    </head>
    <body>
            <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex et doloremque perferendis ullam commodi necessitatibus libero officiis ipsam? Delectus veniam doloribus magnam illo iure expedita soluta quasi modi sed harum.
                Итак начало.
            </p>
            <br/>
            <p>Итак конец.</p>
            <br/>
            <p class="arial">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil tempore error vel deleniti harum eveniet nam commodi, saepe velit provident rem exercitationem, officiis explicabo! Doloremque natus eos accusamus earum nesciunt.
            </p>
            <br/>
            <p class="fontsize30">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis et, necessitatibus maiores a illo molestiae? Quibusdam aperiam aut obcaecati veniam odit labore impedit, facere cum, assumenda numquam fuga quia possimus</p>
            <br/>
            <p class="italic">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum voluptas similique ab ut officia deserunt rem aperiam maiores eaque maxime in fuga, fugit soluta repudiandae. Quod ratione incidunt maiores facilis</p>
            <br/>
            <p class="font700">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam a culpa, possimus minus impedit vero amet assumenda eaque numquam illo necessitatibus eveniet similique tempore corrupti beatae placeat quia reiciendis tempora</p>
            <br/>
            <p class="colored">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa, corporis fugiat. Suscipit esse deserunt qui rem doloremque, veniam omnis, temporibus deleniti quos quaerat soluta voluptas et, quisquam ad explicabo consequatur!</p>
            <p class="textright">Lorem ipsum dolor sit amet.</p>
            
    </head>  