<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Знакомство с html тегами.(Формы)</title>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    </head>
    <body>
        <h1>Анкета о себе</h1>

        <form action="#" method="get" enctype="multipart/form-data">
            <div>
                <p><b> Имя</b><br /><input placeholder="Введите имя" type="text" name="username" /></p>
            </div>
            <div>
                <p><b>Возраст</b><br /><input placeholder="Введите дату рождения" type="date" name="years"></p>
             </div>
             <br />
             <div>
                <p><b>Пол</b></p>
                <input checked type="radio" name="gender" value="female" />Женский</p>
                <input type="radio" name="gender" value="male" />Мужской</p>
             </div>
            <div>
                <p><b>Опыт работы</b></p>
                    <p><input checked type="radio" name="work" value="experience" /> Нет опыта</p>
                    <p><input  type="radio" name="work" value="experience" /> От 1-5 лет</p>
                    <p><input type="radio" name="work" value="experience" /> Более 5 лет</p>
            </div>
            <br />
            <div>
                <p><b>Знание языков программирования</b></p>
                <p><input disabled checked type="checkbox" name="programming language" value="yes" /> JavaScript </p>
                <p><input type="checkbox" name="programming language1" value="yes" /> Python </p>
                <p><input type="checkbox" name="programming language2" value="yes" /> C++ </p>
                <p><input type="checkbox" name="programming language3" value="yes" /> Всё вышеперечисленное </p>  
            </div>
            <br />
            <div> 
                <p><b>Выберете формат работы</b></p>
                <select name="color">
                    <option value="office">Офис</option>
                    <option selected value="remote">Удаленно</option>
                </select>
            </div>
            <br />
            <div>
                <p>Добавьте резюме <input type="file" name="doc" /></p>
            </div>
            <div>
                <img src="/src/assets/images/background.jpg" alt="error">
            </div>
            <div> 
                <textarea placeholder="Расскажите немного о себе" cols="72" rows="5"></textarea>
            </div>
            <div> 
                <button type="submit">Отправить</button>
            </div>

        </form>
    </body>
</html>
       
      
        
        