<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>CSS. Часть №10 (CSS псевдоклассы.)</title>
		<link rel="stylesheet" href="../lesson-10/style.css" />
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	</head>
	<body>
        <div class="block">
           <h1 class="heading">Стилизирую с помощью псевдоклассов</h1>
            <div class="area">
                <ul class="list">
                   <li>Поехать на велосепеде</li>
                   <li>Пойти пешком</li>
                   <li>Полететь на вертолете</li>
                   <li>Поплыть на теплоходе</li> 
                </ul>
            </div>
           <button class="buttonone">full story</button>
           <br/>
           <input class="inputone"/>
        </div>
	</body>
</html>