<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Знакомство с html тегами.(Формы)</title>
        <link rel="stylesheet" href="../lesson-6/style.css"/>
    </head>
    <body>
        <div class="padding">
        <h1>Приветствуем Вас!</h1>
            <p class="text">
                При дословном переводе фрилансер - это вольный копейщик. Сейчас фрилансер - это человек, который работает на себя (ищет проекты, обсуждает цену, сам строит свой график). Чаще всего так работают люди из ИТ-сферы или представители творческих профессий: программисты, разработчики, дизайнеры, копирайтеры, маркетологи и т.
            </p>
            <br/>
            <p class="bold">Где россиянам искать заказы по фрилансу в IT?</p>
            <p class="text2">Существует много фриланс бирж для программистов, но как выбрать подходящую — вопрос. Рассмотрим самые популярные сервисы с их преимуществами и недостатками.</p>
            <ol class="padding2">
                <li>Upwork</li>
                <li>Хабр Фриланс</li>
                <li>FL</li>
                <li>Kwork</li>
            </ol>   
            <h2>Хорошего дня!</h2>
        </div>
    </body>
</html>