<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>CSS. Часть №11 (CSS псевдоэлементы.)</title>
		<link rel="stylesheet" href="../lesson-11/style.css" />
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	</head>
	<body>
        <div class="block">
           <h1 class="heading">Стилизирую с помощью псевдоклассов, псевдоэлементов</h1>
            <div class="area">
                <ul class="list">
                   <li>Поехать на велосепеде</li>
                   <li>Пойти пешком</li>
                   <li>Полететь на вертолете</li>
                   <li>Поплыть на теплоходе</li> 
                </ul>
            </div>
           <button class="buttonone">full story</button>
           <br/>
           <input class="inputone"/>
           <p>Вариантов отдыха на Байкале много. Каждый путешественник откроет для себя что-то особенное. Что бы вы ни выбрали — зиму или лето, пеший поход или тур на внедорожнике, — это приключение запомнится надолго.</p>
        <p>Совет: Если у вас есть лишний день, рекомендуем отправиться в однодневную экскурсию по Кругобайкальской железной дороге. На поезде вы проедете вдоль берега Байкала и увидите красивейшие арки, виадуки и мосты. Остановитесь в наиболее живописных местах, чтобы сфотографироваться.</p>        
        </div>
        <p>Вариантов отдыха на Байкале много. Каждый путешественник откроет для себя что-то особенное. Что бы вы ни выбрали — зиму или лето, пеший поход или тур на внедорожнике, — это приключение запомнится надолго.</p>
        <p>Совет: Если у вас есть лишний день, рекомендуем отправиться в однодневную экскурсию по Кругобайкальской железной дороге. На поезде вы проедете вдоль берега Байкала и увидите красивейшие арки, виадуки и мосты. Остановитесь в наиболее живописных местах, чтобы сфотографироваться.</p>
	</body>
</html>