<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>CSS. Часть №15 (Препроцессор SASS / SCSS)</title>
		<link rel="stylesheet" href="../lesson-16/main.css" />
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	</head>
   <body>
    <header class="title">Постеры и плакаты, интерьерные картины ждут Вас!</header>
      <h1>Обширный выбор товаров</h1>
	  <div class="info">
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In distinctio modi cumque eum accusantium nostrum architecto cupiditate illo ipsam vero quia, saepe, harum quos praesentium aliquid non voluptatem unde dolor!</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, modi iusto. Iste earum repudiandae, dolores maxime delectus fuga ullam possimus sunt quod quidem praesentium veniam eveniet et odio, repellendus iusto.
		Ut voluptate explicabo sint dignissimos? Repellendus ipsum nemo rem magnam vel perferendis, minima repellat numquam in tempora veniam nostrum, ut perspiciatis enim. Animi sunt, suscipit cumque consequatur voluptatibus inventore maiores.
		Doloremque perspiciatis delectus ad quae omnis vero, enim ipsa accusamus veniam inventore molestiae velit ducimus temporibus, sed placeat quas iste, porro fugit! Aliquid quas placeat consectetur! Officiis rem maxime dicta?
		Rem, excepturi, ab non illum eos placeat dignissimos sit reiciendis qui corrupti odit nostrum doloremque distinctio nisi voluptas aliquid porro ad id, deserunt tempora nulla similique? Assumenda id repellendus iste.</p>
	  </div>
   </body>
</html>