<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>CSS. Часть №8,9 (блоки, background)</title>
		<link rel="stylesheet" href="../lesson-8,9/style.css" />
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	</head>
	<body>
		<div class="block">
			<h1 class="travel">путешествия</h1>
			<h2 class="baikal">Поездка на Байкал</h2>
			<br/>
			<img class="photo" src="../../assets/images/lake.jpg" alt="error"/>
			<br/>
			<p class="text">Наверное, каждый путешественник мечтает увидеть Байкал — самое глубокое озеро на планете. Природа Байкала уникальна, а большинство животных, которые населяют его берега, не встречаются в других местах. Путешествие на Байкал может стать не просто вариантом активного отдыха, а настоящим приключением, о котором приятно будет вспоминать даже спустя многие годы. Рассказываем, как спланировать путешествие вокруг озера и где можно увидеть самые красивые места.</p>
			<br/>
			<p class="header">Как перемещаться вдоль Байкала</p>
			<p class="desc">Байкал кажется диким местом с неразвитой инфраструктурой. Это не совсем так. Хотя вблизи озера и нет крупных городов, путешествовать вдоль Байкала и даже по самому озеру можно несколькими способами:</p>
			<ul class="list">
				<li>По Кругобайкальской железной дороге</li>
				<li>На машине</li>
				<li>Пешком</li>
				<li>По льду</li>
				<li>На теплоходе</li>
			</ul>
			<button class="button-next">Продолжить чтение</button>
	    </div>
	</body>
</html>