<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>CSS. Часть №17 (CV)</title>
		<link rel="stylesheet" href="../lesson-17/style.css" />
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	</head>
   <body>
      <div class="container">
		<section class="container__main main">
			<div class="main__profile">
				<div class="main__profile-avatar">
					<img src="../../assets/images/photome1.jpg" alt="photo" >
				</div>
				<div class="username">
				<span class="main__profile-dname">Danilyuk</span>
				<span class="main__profile-name">Diana</span>
				<span class="main__profile-position">Development of mobile applications and Internet services</span>
				</div>
				</div>
			<section class="main__contacts">
				<ul class="maim__contacts-list">
					<li class="main__contacts-mail">diana.danilyuk2015@gmail.com</li>
					<li class="main__contacts-phone-number">+79871010045</li>
					<li class="main__contacts-website"><a href="https://dishka.ru">dishka.ru</a></li>
					<li class="main__contacts-location">Kazan</li>
				</ul>
			</section>
			<section class="main__knowledges">
				<h2>Отраслевые знания</h2>
				<ul class="main__knowledges-list">
					<li> Разработка структуры html сайта</li>
					<li> Основы программирования на PHP</li>
					<li> Основы работы с СУБД SQL</li>
					<li> Технологии front-end разработки</li>
				</ul>	
			</section>
			<section class="main__languages">
				<h2>Языки</h2>
				<ul class="main__languages-list">
					<li>English</li>
					<li>Udmurt</li>
					<li>Japanese</li>
					<li>Tatar</li>
				</ul>
			</section>
			<section class="main__social">
				<h2>Соц.сети</h2>
				<ul class="main__social-list">
					<li>Dishka.ru</li>
					<li>linkedin.com/in/Danilyuk</li>
					<li>dribbble.com/Danilyuk</li>
					<li>behance.com/Danilyuk</li>
				</ul>
			</section>
			<section class="main__hobbies">
				<div class="main__hobbies-shell">
					<h2>Хобби</h2>
				</div>
				<div class="main__hobbies-list">
					<div class="main__item">
					  <i class="reading"></i>
					  Чтение
					</div>
					<div class="main__item">
					  <i class="dancing"></i>
					  Танцы
					</div>
					<div class="main__item">
					  <i class="singing"></i>
					  Пение
					</div>
					<div class="main__item">
					  <i class="football"></i>
					  Футбол
					</div>
				</div>
			</section>
		</section>
		<section class="container__education education">
			<section class="education__experience">
				<div class="education__shell">
					<div class="education__title">
						<div class="education__title-box">
							<h1>Опыт</h1>
						</div>
						<div class="education__line"></div>	
					</div>
					<article>Консультационная студия Blue Moon</article>
					<p class="education__addition">Старший UI-дизайнер</p>
					<p class="education__date">Август 2020 г. – настоящее время – 1 год, Нью-Йорк.</p>
					<p class="education__description">Команда разработчиков разрабатывает прототипы, проектирует и реализует UI и UX с помощью экономичного процесса проектирования: исследование, проектирование, тестирование и повторение.</p>
					<article>Дизайн продукта Black Yark</article>
					<p class="education__addition">Старший UI-дизайнер</p>
					<p class="education__date">Август 2020 г. – настоящее время – 1 год, Нью-Йорк.</p>
					<p class="education__description">Команда разработчиков разрабатывает прототипы, проектирует и реализует UI и UX с помощью экономичного процесса проектирования: исследование, проектирование, тестирование и повторение.</p>
				</div>
			</section>
			<section class="education__studies">
				<div class="education__title">
					<div class="education__title-box">
						<h1>Образование</h1>
					</div>
				</div>
				<h3>Бакалавр технических наук в области робототехники</h3>
				<h3>Курсы "Разработка мобильных приложений и интернет-сервисов"</h3>
			</section>
			<section class="education__skills">
				<div class="education__title">
					<div class="education__title-box">
						<h1>Мои навыки</h1>
					</div>
				</div>
			</section>
		</section>
	  </div>
   </body>
</html>