<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>CSS. Часть №17 (CV)</title>
		<link rel="stylesheet" href="../lesson-17/style.css" />
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	</head>
   <body>
      <div class="container">
		<div class="container__left">
			<div class="profile">
				<div class="photo">
					<img src="../../assets/images/photome1.jpg" alt="photo" >
				</div>
				<p class="name"> Diana</p>
				<p class="pro">Development of mobile applications and Internet services</p>
			</div>
			<div class="contacts">
				<div class="mail">diana.danilyuk2015@gmail.com</div>
				<div class="number">+7 987 101 00 45</div>
				<div class="website">dishka.ru</div>
				<div class="location">Kazan</div>
			</div>
			<div class="knowledges">
				<h2>Industry Knowledges</h2>
				<ul>
					<li> Разработка структуры простого html сайта</li>
					<li> Основы программирования на PHP</li>
					<li> Основы работы с СУБД SQL</li>
					<li> Технологии front-end разработки: HTML, CSS, JavaScript, адаптивная вёрстка, работа с библиотеками</li>
				</ul>	
			</div>
			<div class="languages">
				<h2>Languages</h2>
				<ul class="spa">
					<li>English</li>
					<li>Udmurt</li>
					<li>Japanese</li>
					<li>Tatar</li>
				</ul>
			</div>
			<div class="social ">
				<h2>Social </h2>
				<ul>
					<li>Dishka.ru</li>
					<li>linkedin.com/in/Danilyuk</li>
					<li>dribbble.com/Danilyuk</li>
					<li>behance.com/Danilyuk</li>
				</ul>
			</div>
			<div class="hobbies">
				<div class="shell">
					<h2>Hobbies</h2>
				</div>
				<ul class="list">
					<li>Рисование</li>
					<li>Спорт</li>
					<li>Танцы</li>
					<li>Чтение</li>
				</ul>
			</div>
		</div>
		<div class="container__right">
			<div class="hobbies">
				<div class="shell">
					<h2>Hobbies</h2>
				</div>
				<ul>
					<li>струментами сия.</li>
					<li>тftujfjfjfном офисе.</li>
					<li>а показывает, что его стоит сюда включить.</li>
					<li>Владеть аичего дополнительное требование.</li>
					<li>Быть ничеотсеяны.</li>
				</ul>
			</div>
		</div>
	  </div>
   </body>
</html>