@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.container {
  margin: 0 auto;
  background: linear-gradient(180deg, rgba(3, 56, 244, 0.71) 0%, rgba(224, 37, 206, 0.79) 93.75%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  display: flex;
  min-height: 100%;
  padding: 10px 8px;
  gap: 8px;
}
.container .main {
  width: 45%;
  border-radius: 10px;
  background: rgba(196, 196, 196, 0.3019607843);
}
.container .education {
  width: 55%;
  border-radius: 10px;
  background: white;
}

.main .main__profile {
  padding: 5px 10px;
  display: flex;
  gap: 10px;
}
.main .main__profile .username {
  padding: 10px;
}
.main .main__profile .username .main__profile-dname {
  font-family: Montserrat;
  font-size: 25px;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #CECACA;
}
.main .main__profile .username .main__profile-name {
  font-family: Montserrat;
  font-size: 35px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}
.main .main__profile .username .main__profile-position {
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #CECACA;
}
.main .main__contacts {
  margin: 5px 10px;
  padding: 10px;
}
.main .main__contacts .maim__contacts-list .main__contacts-mail, .main .main__contacts .maim__contacts-list .main__contacts-phone-number, .main .main__contacts .maim__contacts-list .main__contacts-website, .main .main__contacts .maim__contacts-list .main__contacts-location {
  color: white;
  font-family: Calibri;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  background: rgba(196, 196, 196, 0.3490196078);
  border-radius: 10px;
  padding-left: 24px;
}
.main .main__contacts .maim__contacts-list .main__contacts-mail {
  background: url("../../assets/svg-icons/mdi_mail.png") no-repeat;
}
.main .main__contacts .maim__contacts-list .main__contacts-phone-number {
  background: url("../../assets/svg-icons/mdi_call.png") no-repeat;
  width: 18px;
  height: 18px;
}
.main .main__contacts .maim__contacts-list .main__contacts-website {
  background-image: url("../../assets/svg-icons/group.png") no-repeat;
}
.main .main__contacts .maim__contacts-list .main__contacts-website a {
  color: white;
}
.main .main__contacts .maim__contacts-list .main__contacts-location {
  background-image: url("../../assets/svg-icons/mdi_location_on.png") no-repeat;
}
.main .main__knowledges .main__knowledges-list li {
  position: relative;
  left: 12px;
}
.main .main__knowledges .main__knowledges-list li::before {
  content: "";
  position: absolute;
  left: -14px;
  top: 4px;
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
}
.main .main__hobbies {
  margin: 5px 10px;
  padding: 10px;
}
.main .main__hobbies .main__hobbies-shell {
  background: rgba(196, 196, 196, 0.3490196078);
  border-radius: 10px;
}
.main .main__hobbies .main__hobbies-list {
  display: flex;
  gap: 32px;
  margin-top: 8px;
}
.main .main__hobbies .main__hobbies-list .main__item {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.main .main__hobbies .main__hobbies-list .reading {
  background-image: url("../../assets/svg-icons/Reading.png");
  width: 35px;
  height: 27.34px;
}
.main .main__hobbies .main__hobbies-list .dancing {
  background-image: url("../../assets/svg-icons/Dance.png");
  width: 20px;
  height: 30.48px;
}
.main .main__hobbies .main__hobbies-list .singing {
  background-image: url("../../assets/svg-icons/Singing.png");
  width: 35px;
  height: 29.4px;
}
.main .main__hobbies .main__hobbies-list .football {
  background-image: url("../../assets/svg-icons/Football.png");
  width: 30px;
  height: 30px;
}

.main__languages-list, .main__social-list, .main__knowledges-list, .main__hobbies-list {
  font-family: Calibri;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  color: #FAFAFA;
}

.main__knowledges, .main__languages, .main__social {
  background: rgba(196, 196, 196, 0.3490196078);
  border-radius: 10px;
  margin: 5px 10px;
  padding: 10px;
}

h2 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  font-weight: bold;
  color: white;
}

li {
  font-family: Calibri;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  color: #FAFAFA;
}

span {
  display: block;
}

.main__profile-avatar img {
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  background: #000000;
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

.education {
  padding: 10px;
}
.education .education__title {
  display: flex;
  align-items: center;
}
.education .education__title .education__title-box {
  background-color: rgb(59, 40, 40);
  border-radius: 8px;
  padding: 10px;
  margin: 10px 0px;
}
.education .education__title .education__title-box h1 {
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
}
.education .education__title .education__title-box h1:after {
  position: absolute;
  content: "";
  height: 1px;
  background-color: rgb(59, 40, 40);
  width: 40%;
  margin-left: 10px;
}
.education article {
  font-size: 22px;
  font-weight: 700;
}
.education .education__addition {
  font-size: 20px;
}
.education .education__date {
  font-size: 14px;
  color: grey;
}
.education .education__description {
  font-size: 14px;
}/*# sourceMappingURL=style.css.map */