<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>CSS. Часть №13 (CSS Grid Layout.)</title>
		<link rel="stylesheet" href="../lesson-13/style.css" />
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	</head>
   <body>
      <div class="wrapper">
         <header class="header">
         <a href="" class="header__logo"></a>
         <nav class="header__menu">
            <ul class="header__list">
               <li>
                  <a href="" class="header__link">Манга</a>
               </li>
               <li>
                  <a href="" class="header__link">Аниме</a>
               </li>
               <li>
                  <a href="" class="header__link">Магазин</a>
               </li>
               <li>
                  <a href="" class="header__link">Чат</a>
               </li>
            </ul>
            <div class="header__burger">
               <span></span>
            </div>
         </nav>
         </header>
         <main class="main">
            <aside class="sidebar">
               <nav class="sidebar__menu">
                  <ul class="sidebar__list">
                     <li>
                        <a href="" class="sidebar__link">Главная</a>
                     </li>
                     <li>
                        <a href="" class="sidebar__link">Личный кабинет</a>
                     </li>
                     <li>
                        <a href="" class="sidebar__link">Контакты</a>
                     </li>
                     <li>
                        <a href="" class="sidebar__link">Поддержка</a>
                     </li>
                  </ul>
               </nav>
            </aside>
            <section class="content">
              <h1 class="content__title">GRID Layout - Практика</h1>
              <section class="content__gallery gallery">
               <h2 class="gallery__title">Галерея</h2>
               <div class="gallery__items">
                  <div class="gallery__item gallery__item_big">
                     <img src="../../assets/images/Dn_l_lawliet1.jpg">
                  </div>
                  <div class="gallery__item">
                     <img src="../../assets/images/Dn_light_yagami2.jpg">
                  </div>
                  <div class="gallery__item">
                     <img src="../../assets/images/Dn_Misa_howtoread3.jpg">
                  </div>
                  <div class="gallery__item">
                     <img src="../../assets/images/Dn_shinigami_Ryuk4.jpg">
                  </div>
                  <div class="gallery__item">
                     <img src="../../assets/images/Dn_nate_river5.jpg">
                  </div>
                  <div class="gallery__item">
                     <img src="../../assets/images/Dn_mihael_keehl6.jpg">
                  </div>
                  <div class="gallery__item gallery__item_big">
                     <img src="../../assets/images/Dn_Manga7.jpg">
                  </div>
               </div>
              </section>
              <div class="content_products products">
               <h2 class="products__title">Товары</h2>
               <div class="products__items">
                  <div class="products__item">
                     <a href="" class="products__image">
                        <img src="../../assets/images/Dn_clothes.JPG">
                     </a>
                     <a href="" class="products__name">Футболка "Нормально делай, нормально будет"</a>
                     <a href="" class="products__buttom">Купить</a>
                  </div>
               </div>
               <div class="products__items">
                  <div class="products__item">
                     <a href="" class="products__image">
                        <img src="../../assets/images/Dn_clothes.JPG">
                     </a>
                     <a href="" class="products__name">Футболка "Нормально делай, нормально будет"</a>
                     <a href="" class="products__buttom">Купить</a>
                  </div>
               </div>
               <div class="products__items">
                  <div class="products__item">
                     <a href="" class="products__image">
                        <img src="../../assets/images/Dn_clothes.JPG">
                     </a>
                     <a href="" class="products__name">Футболка "Нормально делай, нормально будет"</a>
                     <a href="" class="products__buttom">Купить</a>
                  </div>
               </div>
               <div class="products__items">
                  <div class="products__item">
                     <a href="" class="products__image">
                        <img src="../../assets/images/Dn_clothes.JPG">
                     </a>
                     <a href="" class="products__name">Футболка "Нормально делай, нормально будет"</a>
                     <a href="" class="products__buttom">Купить</a>
                  </div>
               </div>
               <div class="products__items">
                  <div class="products__item">
                     <a href="" class="products__image">
                        <img src="../../assets/images/Dn_clothes.JPG">
                     </a>
                     <a href="" class="products__name">Футболка "Нормально делай, нормально будет"</a>
                     <a href="" class="products__buttom">Купить</a>
                  </div>
               </div>
               <div class="products__items">
                  <div class="products__item">
                     <a href="" class="products__image">
                        <img src="../../assets/images/Dn_clothes.JPG">
                     </a>
                     <a href="" class="products__name">Футболка "Нормально делай, нормально будет"</a>
                     <a href="" class="products__buttom">Купить</a>
                  </div>
               </div>
              </div>
            </section>
         </main>
         <footer class="footer">
            <div class="footer__copy">
               Copy, 2024
            </div>
            <div class="footer__text">
               Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, iusto in totam quidem corrupti architecto incidunt tenetur tempore ut debitis. Cupiditate exercitationem aut atque autem porro ipsam libero consequuntur! Debitis.
            </div>
         </footer>
      </div>
   </body>
</html>